.cart {
    position: relative;
}

.cart-details {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: absolute;
    right: 0;
    width: 300px;
    border: 1px solid black;
    background: #fff;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.45);
    padding: 10px 8px;
}

.btn-cart, .btn-delete {
    border: none;
    background-color: transparent;
    font-size: 25px;
    cursor: pointer;
    transition: color .3s;
}

.btn-cart {
    color: black;
}

.btn-cart.green {
    color: #50d691;
}

.btn-cart.red {
    color: #ff0000;
}

.cart-item {
    display: grid;
    grid-template-areas: "title title price"
                         "title title price"
                         "delete   .    .  ";
    margin-bottom: 10px;
}

.cart-item:last-child {
    margin-bottom: 0px;
}

.cart-item-title {
    grid-area: title;
}

.cart-item-price {
    grid-area: price;
}

.btn-delete {
    margin-top: 8px;
    grid-area: delete;
}

.btn-delete:hover,
.btn-delete:focus {
    color: #ff0000;
}

.total-price {
    float: right;
    font-weight: 700;
}