header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    transition: all .3s;
    padding: 10px 30px;
}

header:hover, 
header:focus {
    background-color: black;
}

header:hover h1, 
header:focus h1,
header:hover .btn-category, 
header:focus .btn-category {
    color: #fff;
}

/* .btn-cart */
header:hover .btn-cart, 
header:focus .btn-cart {
    color: #fff;
}

