.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: clamp(300px, 320px, 350px);
    padding-top: 18px;
    text-align: center;
    background-color: #fff;
}

.product-link {
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;
    justify-content: center ;
    text-decoration: none;
    padding: 0 10px;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}

.preview-img {
    max-height: 180px;
}
.product-category {
    color: rgb(74, 74, 74);
    font-size: 14px;
}

.price-to-cart-container {
    padding:  10px 0 0 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-price {
    font-weight: 500;
}

.to-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: black;
}

.to-cart:hover {
    background-color: #50d691;
}

.btn-to-cart{
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}