.products-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  gap: 20px;
}

@media only screen and (max-width: 1249px) {
  .products-container {
    grid-template-columns: repeat(3, auto);
  }
}

@media only screen and (max-width: 950px) {
  .products-container {
    grid-template-columns: repeat(2, auto);
    gap: 10px;
  }
}

@media only screen and (max-width: 550px) {
  .products-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}