.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 18px;
    text-align: center;
    background-color: #fff;
    width: clamp(250px, 290px, 9vw);
}

.product-link {
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;
    justify-content: center ;
    text-decoration: none;
    padding: 0 10px;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}

.preview-img {
    max-height: 150px;
    width: auto;
}
.product-category {
    color: rgb(74, 74, 74);
    font-size: 14px;
}

.price-to-cart-container {
    padding:  10px 0 0 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-price {
    font-weight: 500;
}

.to-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: black;
}

.to-cart:hover {
    background-color: #50d691;
}

.btn-to-cart{
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}


@media only screen and (max-width: 550px) {
    .product {
        width: 80%;
        margin: 0 auto;
    }
  }