.details {
    display: flex;
    flex-direction: row;
    gap: 10%;
    justify-content: center;
    align-items: center;
}

.details-img {
    width: 20%;
    height: auto;
}

.details-text {
    width: 40%;
}

.details-title {
    font-weight: 800;
}

.details-category {
    color: rgb(74, 74, 74);
    padding-bottom: 14px;
}

.details-price-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.details-price {
    font-size: 20px;
    font-weight: 700;
}

.btn-details-to-cart {
    background-color: black;
    color: #fff;
    padding: 10px 7px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.btn-details-to-cart:hover {
    background-color: #50d691;
}


@media only screen and (max-width: 550px) {
    .details {
        flex-direction: column;
        margin: 80px 0;
        gap: 50px;
    }

    .details-img {
        width: 250px;
        height: auto;
    }

    .details-text {
        width: 300px;
    }

    .details-price-btn {
        position: fixed;
        bottom: 0;
        right: 0;
        background-color: #fff;
        width: 100vw;
        padding: 10px 25px;
    }
  }